@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
   display: flex;
   align-items: center;
   justify-content: center;
   min-height: 100vh;
   background-color: #43affc;
}

.wrapper {
   width: 400px;
   border-radius:7px;
   background-color: #fff;
}

.wrapper header {
   color: #43affc;
   font-size: 21px;
   font-weight: 500;
   padding: 16px 15px;
   display: flex;
   align-items: center;
   border-bottom: 1px solid #bfbfbf;
}

header i {
   cursor: pointer;
   font-size: 30px;
   margin-right: 8px;
}

.wrapper .input-part {
   margin: 20px 25px 30px;
   display: none;
}

.input-part .info-text {
   display: none;
   font-size: 17px;
   text-align: center;
   padding: 12px 10px;
   margin-bottom: 15px;
   border-radius: 7px;
}

.info-text.error {
   display: block;
   color: #721c24;
   background-color: #f8d7da;
   border: 1px solid #f5c6cb;
}

.info-text.pending {
   display: block;
   color: #0c5460;
   background-color: #f8d7da;
   border: 1px solid #f5c6cb;
}

.input-part input, .input-part button {
   width: 100%;
   height: 55px;
   border: none;
   outline: none;
   border-radius: 7px;
   font-size: 18px;
}

.input-part input {
   text-align: center;
   border: 1px solid #bfbfbf;
}

.input-part input:focus, .input-part input:valid {
   border: 2px solid #43affc;
}

.input-part button {
   color: #fff;
   background-color: #43affc;
   cursor: pointer;
}

.input-part .seperator {
   height: 1px;
   width: 100%;
   margin: 25px 0;
   background-color: #ccc;
   display: flex;
   align-items: center;
   justify-content: center;
}

.seperator::before {
   content: "or";
   color: #ccc;
   padding: 0 15px;
   background-color: #fff;
   font-size: 19px;
}

